@use '_fonts' as font;
@use '_colors' as cor;
@use '_media' as media;
@use '_sizes' as tam;
@use 'sass:color';

//exemplo
footer {
    @include media.phone {
        width: tam.$centerMobile;
    }
    text-align: center;
}


footer h3 {
    color: cor.$gold;
}

footer div {
    color: cor.$light;
}